.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  height: 200px;
  padding-bottom: 160px;
  margin-top: 30px;
}

/* .title {
  font-size: 24px;
  line-height: 1em;
  font-weight: 800;
  color: #444;
  font-family: "Nunito", sans-serif;
  margin-left: 0px;
} */

.email-input {
  margin-bottom: 10;
  height: 38px;
  width: 223px;
  border-radius: 30px;
}
.login-input {
  background-color: #7c4ec4;
  color: white;
  font-weight: bold;
  width: 227;
  height: 38px;
  width: 223px;
  border-radius: 30px;
  border: none;
}

.register-input {
  background-color: #333333;
  color: white;
  font-weight: bold;
  border: none;
  width: 227;
  height: 38px;
  width: 223px;
  border-radius: 30px;
}

p {
  line-height: 1.5em;
  color: #444;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.flexForm {
  display: flex;
  flex-direction: column;
}

.line--horizontal:after {
  content: "";
  background: #eee;
  margin-bottom: 0;
  margin-top: 0;
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
}
.form {
  margin-top: 100px;
}
.line {
  display: block;
  position: relative;
  height: 30px;
}

.content-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-account {
  margin: 10px 10px;
}
